<% content_for :title do %>
<title>Reset Password</title>
<% end %>
<%= content_for :page_title do %>
Send Reset Link
<% end %>
<%= form_tag(action: 'create') do %>
<%= label_tag(:email) %>
<%= email_field_tag(:email,nil, class: 'form-control') %>
<br/><br/>
<%= submit_tag("Login",class: 'form-control btn btn-primary') %>
<% end %>
